<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">



  <a routerLink="/articles" routerLinkActive="active" class="btn btn-info">Articles list</a>
  <a routerLink="/articles/create" routerLinkActive="active" class="btn btn-info" *ngIf="this.userService.currentUser">article creation</a>
  <a routerLink="/articles/drafts" routerLinkActive="active" class="btn btn-info" *ngIf="this.userService.currentUser">draft edition</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="searchValue" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchByTitle(searchValue)">Search</button>
    </form>
    <a routerLink="/statistics" routerLinkActive="active" class="btn btn-info">Statistics</a>
    <p> </p>
  </div>



  <div *ngIf="!userService.userConnected &&!createAccount" class="LoginPanel">
    <p>{{'Login :'}}</p>
    <input [(ngModel)]="inputLogin">
    <p>{{'Mot de passe :'}}</p>
    <input [(ngModel)]="inputPassword">
    <input type="submit" (click)="tryConnect(inputLogin, inputPassword)">
  </div>
  <input type="submit" *ngIf="userDoesntExist" (click)="createAccount=true ; userDoesntExist=false"
         value="Creer un compte">

  <div *ngIf="!userService.userConnected &&createAccount" class="LoginPanel">
    <p>Creez un compte :</p>
    <p>{{'Name :'}}</p>
    <input [(ngModel)]="signInName">
    <p>{{'Email :'}}</p>
    <input [(ngModel)]="signEmail">
    <p>{{'Mot de passe :'}}</p>
    <input [(ngModel)]="signInPassword">
    <input type="submit" (click)="createNewUser(signInName,signEmail, signInPassword)">
  </div>

  <div *ngIf="userService.userConnected" class="LoginPanel">
    <p>Vous êtes connectés en tant que : {{userService.currentUser.login}}</p>
    <input type="submit" (click)="disconnect()" value="Disconnect">
  </div>
  <p *ngIf="displayLoginMessage">{{loginMessage}}</p>
</nav>



