<div *ngIf="isReadyToShowStats">
  <p>Total number of articles : {{statistics.totalNumberOfArticles}}</p>
  <p>Total number of Drafts : {{statistics.totalNumberOfDrafts}}</p>
  <p>Total number of Tags : {{statistics.totalNumberOfTags}}</p>
  <p>Total number of Users : {{statistics.totalNumberOfUsers}}</p>
  <p>Average number of words by articles: {{statistics.averageNumberOfWordsByArticles}}</p>
  <p>Average number of tags by articles: {{statistics.averageTagsByArticles}}</p>
</div>
