<ul class="characterListDiv">
  <ng-container *ngFor="let article of articles;let i = index">
    <ng-container *ngIf="article.state === 'draft'">
      <app-articles-display [article]="article">
      </app-articles-display>
    </ng-container>
  </ng-container>
</ul>
