<img [src]="this.article.imageUrl" alt="">
<p> Title : {{article.title}}</p>
<p> Article : {{article.content}}</p>
<p> Summary : {{article.summary}}</p>
<p> Tags : {{article.tagsAssigned}}</p>
<p> Creator : {{article.publicCreator}}</p>
