<div class="card" style="width: 18rem;">

  <img [src]="this.article.imageUrl" alt="">

  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
  </div>

  <ul class="list-group list-group-flush">
    <h5 class="card-body">{{article.summary}}</h5>
  </ul>

  <div class="card-body">
    <button (click)="onClick(true)" class="button">Show article</button>
    <div *ngIf="article.state === 'draft'">
    <button *ngIf="this.userService.currentUser.id === article.user_id" (click)="editDraft()" class="button">Edit draft</button>
    </div>
    <button (click)="onClick(false)" class="button">Hide article</button>
  </div>

  <div *ngIf="showFullArticle">
    <app-article-full-display [article]="article"></app-article-full-display>
  </div>
</div>
