<ul class="characterListDiv">
  <ng-container *ngFor="let article of articles;let i = index">
    <ng-container *ngIf="article.state === 'draft'">
      <app-articles-display [article]="article">
      </app-articles-display>
    </ng-container>
  </ng-container>
</ul>

<div class="article-form" *ngIf="this.service.hasArticletoEdit">
  {{ setArticleInformations()}}
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">


      <label>Draft edition</label>

      <div class="form-group col-md-6">
        <label for="Id">Draft id</label>
        <input type="text" class="form-control" id="Id" name="id" (change)="updateFormStatus()"
               [(ngModel)]="id">
      </div>

      <div class="form-group col-md-6">
        <label for="UserID">Creator id</label>
        <input type="text" class="form-control" id="UserID" name="user_id" (change)="updateFormStatus()"
               [(ngModel)]="user_id">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Title">Title</label>
          <input type="text" class="form-control" id="Title" name="title" (change)="updateFormStatus()"
                 [(ngModel)]="title" placeholder="title">
        </div>

        <div class="form-group col-md-6">
          <label for="PublicCreator">Creator name</label>
          <input type="text" class="form-control" id="PublicCreator" name="publicCreator"
                 [ngModel]="this.userService.currentUser.login">
        </div>

        <div class="form-group col-md-6">
          <label for="Summary">Summary</label>
          <input type="text" class="form-control" id="Summary" name="summary" (change)="updateFormStatus()"
                 [(ngModel)]="summary" placeholder="Summary">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="ImageUrl">Image Url</label>
        <input type="text" class="form-control" id="ImageUrl" name="imageUrl" (change)="updateFormStatus()"
               [(ngModel)]="imageUrl" placeholder="image url">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="state" id="exampleRadios1" value="draft" [ngModel]="state">
        <label class="form-check-label" for="exampleRadios1">
          create as draft
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="state" id="exampleRadios2" value="published" [ngModel]>
        <label class="form-check-label" for="exampleRadios2">
          create as published
        </label>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Tags</label>
        <input type="text" class="form-control" id="exampleFormControlSelect1" name="tagsAssigned"
               (change)="updateFormStatus()"
               [(ngModel)]="tagsAssigned" placeholder="Cute Technology Dev">
      </div>

      <div class="form-group">
        <label for="Content">Content</label>
        <input type="text" class="form-control" id="Content" placeholder="Like to eat pies" name="content"
               (change)="updateFormStatus()" [(ngModel)]="content">
      </div>

      <button [disabled]="!isReadytoSubmit" type="submit" class="btn btn-primary">Generate !</button>
    </form>
</div>

