.characterListDiv{
  margin-top: 40px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.article-form{
  margin-left: 400px;
  margin-top: 50px;
  width: 600px;
}
